extends layout/_base
block content
	h1.h start-gulp-pug-scss
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque reprehenderit totam ullam voluptates voluptatibus.
	a(href="https://github.com/wf13as?tab=repositories") Repo
	
